In [1]:
from fastbook import *
import seaborn as sns

from tools.toolbox import *
from tools.dataset import Data

In [42]:
df = Data.get_g12d()

In [43]:
df

,ID,SMILES,group,with_3F,racemic_trans,mixture_isomer,trans,Kd,IC50,erk_IC50
0,US_1,CN1CCC[C@H]1COc1nc(N2CC3CCC(C2)N3)c2cnc(cc2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,97.7,124.7,3159.1
1,US_2,CN1CCC[C@H]1COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,1,0,0,0,2.4,2.7,721.4
2,US_3,Cn1ccnc1CCOc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,8.3,9.5,10283.1
3,US_4,Oc1cc(-c2ncc3c(nc(OCCc4ccccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,US,0,0,0,0,155.7,496.2,8530.0
4,US_5,Cn1nccc1COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,294.8,722.9,8193.8
...,...,...,...,...,...,...,...,...,...,...
717,paper_34,FC1=C(C2=C(C=C(F)C=C3)C3=CC=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,27.0,370.0
718,paper_35,FC1=C(C2=C(C(F)=C(F)C=C3)C3=CC=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,7.0,97.0
719,paper_36,FC1=C(C2=C(C(C#C)=C(F)C=C3)C3=CC=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,2.0,24.0
720,paper_37,FC1=C(C2=C(C(Cl)=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,2.0,63.0
721,paper_38,FC1=C(C2=C(C(C#C)=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OCC56N(CCC6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,paper,0,0,0,0,NaN,2.0,14.0

In [54]:
t = tanimoto(df,target_col = "IC50")

In [55]:
t = t.query('SimilarityScore == 1')

In [65]:
d = pd.DataFrame(t.groupby("ID1").ID2.unique())

In [76]:
d = d.reset_index()

In [81]:
d.loc[1]

ID1                625_14
ID2    [625_15, paper_13]
Name: 1, dtype: object

In [84]:
for r in d.iterrows():
    break

In [88]:
c = d.ID1.tolist()

In [92]:
c

['31678_11',
 '625_14',
 '625_15',
 '646_121',
 '646_4',
 '646_49',
 '646_5',
 '646_54',
 '646_6',
 '646_87',
 '646_89',
 '646_93',
 '646_95',
 'US_109',
 'US_120',
 'US_134',
 'US_136',
 'US_179',
 'US_18',
 'US_181',
 'US_185',
 'US_186',
 'US_187',
 'US_189',
 'US_2',
 'US_216',
 'US_218',
 'US_219',
 'US_223',
 'US_234',
 'US_236',
 'US_238',
 'US_251',
 'US_252',
 'US_259',
 'US_26',
 'US_282',
 'US_286',
 'US_287',
 'US_288',
 'US_3',
 'US_326',
 'US_327',
 'US_334',
 'US_34',
 'US_356',
 'US_358',
 'US_36',
 'US_368',
 'US_388',
 'US_45',
 'US_451',
 'US_452',
 'US_460',
 'US_461',
 'US_462',
 'US_463',
 'US_464',
 'US_482',
 'US_55',
 'US_65',
 'paper_24']

In [109]:
d

         ID1                 ID2
0   31678_11          [31678_32]
1     625_14  [625_15, paper_13]
2     625_15          [paper_13]
3    646_121           [646_122]
4      646_4    [646_54, 646_55]
..       ...                 ...
57    US_464          [paper_35]
58    US_482           [paper_1]
59     US_55             [US_56]
60     US_65             [US_66]
61  paper_24          [paper_25]

[62 rows x 2 columns]

In [105]:
remove = []
for id2 in d.ID2:
    for i in c:
        if i in id2:
            remove.append(c.index(i))

In [106]:
remove

[2, 7, 41, 42, 61, 58, 54, 38, 39, 39, 42, 61, 61, 52]

In [117]:
d = d[~d.index.isin(remove)]

In [119]:
d = d.reset_index(drop=True)

In [122]:
d

         ID1                                   ID2
0   31678_11                            [31678_32]
1     625_14                    [625_15, paper_13]
2    646_121                             [646_122]
3      646_4                      [646_54, 646_55]
4     646_49                             [646_117]
5      646_5                              [646_18]
6      646_6                               [646_7]
7     646_87                              [646_88]
8     646_89                              [646_90]
9     646_93                              [646_94]
10    646_95                              [646_96]
11    US_109                            [paper_21]
12    US_120                            [paper_18]
13    US_134                              [US_226]
14    US_136                              [US_137]
15    US_179                            [paper_33]
16     US_18                            [paper_17]
17    US_181                            [paper_16]
18    US_185                            [paper_38]
19    US_186                            [paper_26]
20    US_187                            [paper_30]
21    US_189                            [paper_36]
22      US_2                            [paper_15]
23    US_216  [US_326, US_327, paper_24, paper_25]
24    US_218                              [US_459]
25    US_219                              [US_225]
26    US_223                              [US_224]
27    US_234                            [paper_27]
28    US_236                            [paper_31]
29    US_238                            [paper_32]
30    US_251                              [US_330]
31    US_252                     [US_482, paper_1]
32    US_259                              [US_468]
33     US_26                    [paper_20, US_461]
34    US_282                              [US_366]
35    US_286              [US_289, US_287, US_288]
36      US_3                            [paper_19]
37    US_334                            [paper_29]
38     US_34                              [US_149]
39    US_356                              [US_357]
40    US_358                              [US_359]
41     US_36                            [paper_37]
42    US_368                              [US_448]
43    US_388                              [US_406]
44     US_45                            [paper_28]
45    US_451                      [US_467, US_452]
46    US_460                            [paper_34]
47    US_462                            [paper_23]
48    US_463                            [paper_22]
49    US_464                            [paper_35]
50     US_55                               [US_56]
51     US_65                               [US_66]

In [135]:
s = pd.DataFrame(d.apply(lambda x: [x["ID1"]] + [r for r in x["ID2"]], axis=1))

In [145]:
s

                                               0
0                           [31678_11, 31678_32]
1                     [625_14, 625_15, paper_13]
2                             [646_121, 646_122]
3                        [646_4, 646_54, 646_55]
4                              [646_49, 646_117]
5                                [646_5, 646_18]
6                                 [646_6, 646_7]
7                               [646_87, 646_88]
8                               [646_89, 646_90]
9                               [646_93, 646_94]
10                              [646_95, 646_96]
11                            [US_109, paper_21]
12                            [US_120, paper_18]
13                              [US_134, US_226]
14                              [US_136, US_137]
15                            [US_179, paper_33]
16                             [US_18, paper_17]
17                            [US_181, paper_16]
18                            [US_185, paper_38]
19                            [US_186, paper_26]
20                            [US_187, paper_30]
21                            [US_189, paper_36]
22                              [US_2, paper_15]
23  [US_216, US_326, US_327, paper_24, paper_25]
24                              [US_218, US_459]
25                              [US_219, US_225]
26                              [US_223, US_224]
27                            [US_234, paper_27]
28                            [US_236, paper_31]
29                            [US_238, paper_32]
30                              [US_251, US_330]
31                     [US_252, US_482, paper_1]
32                              [US_259, US_468]
33                     [US_26, paper_20, US_461]
34                              [US_282, US_366]
35              [US_286, US_289, US_287, US_288]
36                              [US_3, paper_19]
37                            [US_334, paper_29]
38                               [US_34, US_149]
39                              [US_356, US_357]
40                              [US_358, US_359]
41                             [US_36, paper_37]
42                              [US_368, US_448]
43                              [US_388, US_406]
44                             [US_45, paper_28]
45                      [US_451, US_467, US_452]
46                            [US_460, paper_34]
47                            [US_462, paper_23]
48                            [US_463, paper_22]
49                            [US_464, paper_35]
50                                [US_55, US_56]
51                                [US_65, US_66]

In [141]:
id_sets  = [set(ids) for ids in s[0]]

In [151]:
df["ID_list"] = df["ID"].apply(lambda x: f"{[id for id in id_sets if x in id]}")

In [153]:
df.duplicated(subset="ID_list")

0      False
1      False
2      False
3       True
4       True
       ...
717     True
718     True
719     True
720     True
721     True
Length: 722, dtype: bool

In [57]:
t.groupby("ID1")

In [27]:
#duplicates is obtained using tanimo function, followed by hand labeling (take mean of duplicates if target1/2 are not too different)
dup = pd.read_csv('IC50_duplicate.csv')

In [28]:
dup = dup.fillna('remove')

In [29]:
unique_ids = set(dup['ID1']).union(set(dup['ID2']))

In [30]:
unique_ids

{'31678_11',
 '31678_32',
 '625_14',
 '646_117',
 '646_121',
 '646_122',
 '646_18',
 '646_4',
 '646_49',
 '646_5',
 '646_54',
 '646_55',
 '646_6',
 '646_7',
 '646_87',
 '646_88',
 '646_89',
 '646_90',
 '646_93',
 '646_94',
 '646_95',
 '646_96',
 'US_109',
 'US_120',
 'US_134',
 'US_136',
 'US_137',
 'US_149',
 'US_179',
 'US_18',
 'US_181',
 'US_185',
 'US_186',
 'US_187',
 'US_189',
 'US_2',
 'US_216',
 'US_218',
 'US_219',
 'US_223',
 'US_224',
 'US_225',
 'US_226',
 'US_234',
 'US_236',
 'US_238',
 'US_251',
 'US_252',
 'US_259',
 'US_26',
 'US_282',
 'US_286',
 'US_287',
 'US_288',
 'US_289',
 'US_3',
 'US_326',
 'US_327',
 'US_330',
 'US_334',
 'US_34',
 'US_356',
 'US_357',
 'US_358',
 'US_359',
 'US_36',
 'US_366',
 'US_368',
 'US_388',
 'US_406',
 'US_448',
 'US_45',
 'US_451',
 'US_452',
 'US_459',
 'US_460',
 'US_461',
 'US_462',
 'US_463',
 'US_464',
 'US_467',
 'US_468',
 'US_482',
 'US_55',
 'US_56',
 'US_65',
 'US_66',
 'paper_1',
 'paper_13',
 'paper_15',
 'paper_16',
 'paper_17',
 'paper_18',
 'paper_19',
 'paper_20',
 'paper_21',
 'paper_22',
 'paper_23',
 'paper_24',
 'paper_25',
 'paper_26',
 'paper_27',
 'paper_28',
 'paper_29',
 'paper_30',
 'paper_31',
 'paper_32',
 'paper_33',
 'paper_34',
 'paper_35',
 'paper_36',
 'paper_37',
 'paper_38'}

In [31]:
df = df[~df['ID'].isin(unique_ids)]

In [32]:
df

,ID,SMILES,group,with_3F,racemic_trans,mixture_isomer,trans,Kd,IC50,erk_IC50
0,US_1,CN1CCC[C@H]1COc1nc(N2CC3CCC(C2)N3)c2cnc(cc2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,97.7,124.7,3159.1
3,US_4,Oc1cc(-c2ncc3c(nc(OCCc4ccccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,US,0,0,0,0,155.7,496.2,8530.0
4,US_5,Cn1nccc1COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,294.8,722.9,8193.8
5,US_6,Cc1cccnc1CCOc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,US,0,0,0,0,442.2,434.1,11518.2
6,US_7,Oc1cc(-c2ncc3c(nc(OCCc4ncccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,US,0,0,0,0,463.5,1867.3,NaN
...,...,...,...,...,...,...,...,...,...,...
692,paper_9,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OC[C@H]5N(C)CCC5)N=C4N6CCOCC6,paper,0,0,0,0,1500.0,12000.0,NaN
693,paper_10,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OC[C@H]5N(C)CCC5)N=C4N6CC(C)NCC6,paper,0,0,0,0,380.0,2100.0,NaN
694,paper_11,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OC[C@H]5N(C)CCC5)N=C4N6C(C)CNCC6,paper,0,0,0,0,280.0,1500.0,NaN
695,paper_12,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OC[C@H]5N(C)CCC5)N=C4N6CC7NCC6C7,paper,0,0,0,0,96.0,650.0,NaN
697,paper_14,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OC[C@H]5N(C)CCC5)N=C4N6CC(C7)NC7C6,paper,0,0,0,0,73.0,310.0,NaN

In [41]:
dup

,ID1,ID2,SMILES2,mean
0,US_65,US_66,Fc1c(ncc2c(nc(OC[C@@]34CCCN3C(CCl)CC4)nc12)N1CC2CCC(C1)N2)-c1cccc2cccc(Cl)c12,remove
1,US_55,US_56,OC[C@@H](O)COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cccc2cccc(Cl)c12,6024.0
2,US_252,US_482,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@@]23CCCN3C[C@H](C2)F)C(=C(N=C1)C1=CC(=CC2=CC=C(C(=C12)C#C)F)O)F,1.2
3,US_259,US_468,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@@]23CCCN3C[C@H](C2)F)C(=C(N=C1)C1=CC(=CC2=CC=CC(=C12)CC)O)F,1.4
4,US_451,US_467,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@]23CCCN3C[C@@H](C2)F)C(=C(N=C1)C=1C=C(C=C(C1[C@@H]1[C@@H](C1)C)Cl)O)F,1.333333
...,...,...,...,...
69,646_4,646_54,OC=1C=C(C2=CC=CC=C2C1)N1CC=2N=C(N=C(C2CC1)N1C[C@H]2C[C@H]([C@@H](C1)N2)O)OC[C@H]2N(CCC2)C,remove
70,646_5,646_18,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@@]23CCCN3[C@H](CC2)COC(NC)=O)CN(CC1)C1=CC=CC2=CC=CC(=C12)CC,1.8
71,646_121,646_122,C(C)C2=C1C(=CC=CC1=CC=C2)N8CC3=C(C(=NC(=N3)OC[C@@]45CCCN4C[C@@H](C5)F)[C@@H]6C[C@@H]7CC[C@H](C6)N7)CC8,121.45
72,646_49,646_117,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@]23CCCN3C[C@@H](C2)F)CN(CC1)C1=CC(=CC2=CC=CC(=C12)Cl)O,0.6
73,31678_11,31678_32,CN(C1(CCC1)CNC=1C2=C(N=C(N1)OC[C@@H]1N(CCC1)C)C(=C(N=C2)C2=CC(=CC1=CC=CC=C21)O)F)C,239.55

In [13]:
df2 = pd.concat([df, dup[['ID2', 'mean','SMILES2']].rename(columns={'ID2': 'ID','SMILES2':'SMILES', 'mean': 'IC50'})])

In [15]:
df2 = df2.dropna(subset = 'IC50')

In [17]:
df2 = df2.drop(df2[df2['IC50'] == 'remove'].index)

In [35]:
# df2.drop_duplicates(subset='ID', inplace=True)

In [18]:
df2 = df2.reset_index(drop=True)

In [20]:
df2 = df2[['ID','SMILES','IC50']]

In [21]:
df2

,ID,SMILES,IC50
0,US_4,Oc1cc(-c2ncc3c(nc(OCCc4ccccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,496.2
1,US_5,Cn1nccc1COc1nc(N2CC3CCC(C2)N3)c2cnc(c(F)c2n1)-c1cc(O)cc2ccccc12,722.9
2,US_7,Oc1cc(-c2ncc3c(nc(OCCc4ncccn4)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,1867.3
3,US_8,Cn1ccc(COc2nc(N3CC4CCC(C3)N4)c3cnc(c(F)c3n2)-c2cc(O)cc3ccccc23)n1,1522.0
4,US_9,Cn1cnc(COc2nc(N3CC4CCC(C3)N4)c3cnc(c(F)c3n2)-c2cc(O)cc3ccccc23)c1,820.7
...,...,...,...
628,646_55,OC=1C=C(C2=CC=CC=C2C1)N1CC=2N=C(N=C(C2CC1)N1C[C@@H]2C[C@@H]([C@H](C1)N2)O)OC[C@H]2N(CCC2)C,273.2
629,646_18,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@@]23CCCN3[C@H](CC2)COC(NC)=O)CN(CC1)C1=CC=CC2=CC=CC(=C12)CC,1.8
630,646_122,C(C)C2=C1C(=CC=CC1=CC=C2)N8CC3=C(C(=NC(=N3)OC[C@@]45CCCN4C[C@@H](C5)F)[C@@H]6C[C@@H]7CC[C@H](C6)N7)CC8,121.45
631,646_117,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@]23CCCN3C[C@@H](C2)F)CN(CC1)C1=CC(=CC2=CC=CC(=C12)Cl)O,0.6
632,31678_32,CN(C1(CCC1)CNC=1C2=C(N=C(N1)OC[C@@H]1N(CCC1)C)C(=C(N=C2)C2=CC(=CC1=CC=CC=C21)O)F)C,239.55

In [22]:
t = tanimoto(df2.copy(),target_col = 'IC50')

In [23]:
t.query('SimilarityScore ==1')

,ID1,ID2,SMILES1,SMILES2,SimilarityScore,Target1,Target2
0,US_289,US_287,C[C@H]1C[C@@H]1c1ccccc1-c1ncc2c(nc(OCC34CCCN3CCC4)nc2c1F)N1CC2CCC(C1)N2,C[C@H]1C[C@H]1c1ccccc1-c1ncc2c(nc(OCC34CCCN3CCC4)nc2c1F)N1CC2CCC(C1)N2,1.0,228.950000,53.950
1,US_461,paper_20,[C@@H]12OC[C@@H](N(C1)CCOC=1N=C(C3=C(N1)C(=C(N=C3)C3=CC(=CC1=CC=CC=C31)O)F)N3C[C@H]1CC[C@@H](C3)N1)C2,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OCCN5[C@@H](C6)CO[C@@H]6C5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,1.0,52.050000,52.050
2,US_327,paper_25,Oc1cc(-c2ncc3c(nc(OC[C@@]45CCCN4C[C@H](F)C5)nc3c2F)N2CC3CCC(C2)N3)c2ccccc2c1,FC1=C(C2=C(C=CC=C3)C3=CC(O)=C2)N=CC4=C1N=C(OC[C@]56N(C[C@H](F)C6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,1.0,1.566667,1.175
3,US_482,paper_1,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@@]23CCCN3C[C@H](C2)F)C(=C(N=C1)C1=CC(=CC2=CC=C(C(=C12)C#C)F)O)F,FC1=C(C2=C(C(C#C)=C(F)C=C3)C3=CC(O)=C2)N=CC4=C1N=C(OC[C@]56N(C[C@H](F)C6)CCC5)N=C4N7C[C@@H](CC8)N[C@@H]8C7,1.0,1.200000,1.200
4,US_467,US_452,[C@H]12CN(C[C@H](CC1)N2)C=2C1=C(N=C(N2)OC[C@]23CCCN3C[C@@H](C2)F)C(=C(N=C1)C=1C=C(C=C(C1[C@@H]1[C@@H](C1)C)Cl)O)F,C[C@@H]1C[C@H]1c1c(Cl)cc(O)cc1-c1ncc2c(nc(OC[C@@]34CCCN3C[C@H](F)C4)nc2c1F)N1CC2CCC(C1)N2,1.0,1.333333,1.000

In [55]:
df2.to_csv('dedup_IC50.csv',index=False) # save to tools.dataset Data